#logo-wrapper {
    text-align: center;
}

#logo {
    display: inline-block;
    max-height: 350px;
}

#timezone-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
}

#timezone-wrapper ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.timezone-display {
    color: #d12326;
    font-size: 14px;
    font-weight: 100;
    text-align: left;
}

.timezone-display h1 {
    color: #0b84c1;
    font-size: 16px;
    letter-spacing: 1px;
}

.timezone-display span {
    display: block;
}

#header-links h2 {
    text-align: center;
}

#header-links a {
    color: #d12326;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
    text-decoration: none;
    letter-spacing: 2px;
}

.link-group h3 {
    color: #0b84c1;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0;
}

.link-group ul {
    list-style: none;
}

.link-group a {
    text-decoration: none;
    color: #d12326;
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
}

#link-groups table{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

#link-groups table td {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

#quote-of-day {
    color: grey;
}

#quote-of-day table{
    margin-left: auto;
    margin-right: auto;
}
