* {
    font-family: "Inconsolata", monospace;
}

#logo-wrapper {
    text-align: center;
}

#logo {
    display: inline-block;
    max-height: 350px;
}

#timezone-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
}

#timezone-wrapper ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.timezone-display {
    color: #d12326;
    font-size: 14px;
    font-weight: 100;
    text-align: left;
}

.timezone-display h1 {
    color: #0b84c1;
    font-size: 16px;
    letter-spacing: 1px;
}

.timezone-display span {
    display: block;
}

::-webkit-input-placeholder {
    color: #A9A9A9;
    opacity: 0.5;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus::-webkit-input-placeholder {
    opacity: 1;
}

:-moz-placeholder {
    color: #A9A9A9;
    opacity: 0.5;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus:-moz-placeholder {
    opacity: 1;
}

::-moz-placeholder {
    color: #A9A9A9;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus::-moz-placeholder {
    opacity: 1;
}

:-ms-input-placeholder {
    color: #A9A9A9;
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus:-ms-input-placeholder {
    opacity: 1;
}

.search-block {
    position: relative;
    width: 40%;
    margin: 0vh auto 0px;
    text-align: center;
    margin-top: 10px;
}
@media screen and (max-width: 1000px) {
    .search-block {
        width: 60%;
        margin: 0vh auto 0vh;
    }
}
.search-block label {
    position: absolute;
    color: #A9A9A9;
    top: 7px;
    left: -20px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block input {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 16px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: black;
    outline: none;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block input:hover, .search-block input:focus {
    border-bottom: 2px solid #A9A9A9;
}
.search-block input:hover + label, .search-block input:focus + label {
    color: #A9A9A9;
}

.search-block ul.search-help {
    display: inline-block;
}
.search-block ul.search-help li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-right: 5px;
}
.search-block ul.search-help li > span {
    color: #A9A9A9;
    font-size: 10px;
}

#header-links h2 {
    text-align: center;
}

#header-links a {
    color: #d12326;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
    text-decoration: none;
    letter-spacing: 2px;
}

.link-group {
    text-align: center;
}

.link-group h3 {
    color: #0b84c1;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0;
}

.link-group ul {
    padding-left: 0;
    list-style: none;
    display: inline-block;
}

.link-group li {
    text-align: left;
}

.link-group a {
    text-decoration: none;
    color: #d12326;
    margin-top: 5px;
    font-size: 20px;
}

#link-groups table{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

#link-groups table td {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

#quote-of-day {
    color: #808080;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
